@font-face {
  font-family: 'Milton';
  src: url('../milton-two.two.otf') format("opentype");
}

@font-face {
  font-family: 'Typewriter';
  src: url('../Lovelt__.ttf') format("opentype");
}

#us {
  background-image: url(../images/tanda.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Typewriter;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
}

nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 900;
  background-color: rgba(224, 224, 225, 0.6);
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  font-family: Typewriter;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

h1 {
  font-size: 9em;
  font-family: Milton;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
}

h5 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
  padding: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}



#coming-soon {
  float: right;
  text-align: center;
  margin-right: 7.5%;
  margin-top: 8.5em;
}

#hotel-modal, #contact-modal, #rsvp-modal, #venue-modal, #registry-modal {
  position: fixed;
  display: none;
  width: 80%;
  height: 100%;
  top: 60px;
  left: 10%;
  text-align: center;
}

#wLogo {
  width: 100px;
  height: 80px;
}

#hotel-content, #contact-content, #registry-content {
  padding: 50px;
  height: 220px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#rsvp-content {
  padding: 20px;
  height: 600px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#venue-content {
  height: 600px;
  padding: 50px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

.hotel-map {
  float: left;
}

.hotel-info {
  float: left;
  margin-left: 5%;
  margin-top: 2.5em;
}

.hotel-blurb {
  text-align: left;
  max-width: 45%;
  float: right;
}

.contact-blurb, .registry-blurb {
  margin-top: 50px;
}

.venue-blurb {
  max-width: 55%;
  float: right;
  text-align: left;
  padding-top: 0;
  margin-top: -15px;
}

.venue-info {
  float: left;
  position: absolute;
}

.venue-map {
  float: left;
  position: absolute;
  top: 400px;
}

#indiaHouse {
  float: left;
  width: 300px;
  margin-bottom: 25px;
}

#close-hotel-modal, #close-contact-modal, #close-rsvp-modal, #close-venue-modal, #close-registry-modal {
  position: absolute;
  top: 5px;
  left: 97.5%;
  z-index: 3;
  font-size: 1.5em;
  text-shadow: none;
  border-radius: 26%;
  text-align: center;
  color: black;
}

#close-modal:hover {
  cursor: pointer;
}

.modal-content {
  position: relative;
  margin: 0 30%;
  background-color: white;
  top: 10%;
  width: 40%;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: white;
  border: 10px solid white;
  z-index: 1;
}


/* Begin Media Queries */
@media screen and (max-width: 1150px) {
  #us {
    background-size: 1150px 767.5px;
  }
}

@media screen and (max-width: 950px) {
  #coming-soon {
    margin-right: 5%;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 7em;
  }

  h3, h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1em;
  }
}

@media screen and (max-width: 810px) {
  body {
    margin: 0;
    background-image: none;
    background-color: #E7E7E9;
  }

  header {
    margin: 0;
    padding: 0;
    background-image: url(../images/tanda.jpg);
    background-size: cover;
    height: 8em;
    border-bottom: 1px solid black;
  }

  #coming-soon {
    float: none;
    margin-left: 5%;
  }
}
@media screen and (max-width: 580px) {
  header {
    background-size: 580px 387.086957px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 5em;
    text-shadow: none;
  }

  h3, h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
  }
}
