@font-face {
  font-family: 'Typewriter';
  src: url('../Lovelt__.ttf') format("opentype");
}

#us {
  background-image: url(../images/tanda.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Typewriter;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
}

#desktop-nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 900;
  background-color: rgba(224, 224, 225, 0.6);
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#mobile-nav {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  font-family: Typewriter;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

h1 {
  font-size: 6em;
  font-family: 'Pinyon Script', cursive;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
}

h5 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(45, 44, 44);
  text-shadow: 1px 1px #E7E7E9,
  -1px 1px #E7E7E9,
  1px -1px #E7E7E9,
  -1px -1px #E7E7E9;
  padding: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

#coming-soon {
  float: right;
  text-align: center;
  margin-right: 7.5%;
  margin-top: 8.5em;
}

#hotel-modal, #contact-modal, #rsvp-modal, #venue-modal, #registry-modal {
  position: fixed;
  display: none;
  width: 80%;
  height: 100%;
  top: 60px;
  left: 10%;
  text-align: center;
  z-index: 9999;
}

#wLogo {
  width: 100px;
  height: 80px;
}

#hotel-content,
#registry-content {
  padding: 50px;
  height: 250px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#contact-content {
    padding: 50px;
    height: auto;
    font-family: Arial;
    background-color: rgba(255, 255, 255, .9);
    text-shadow: none;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#rsvp-content {
  padding: 20px;
  height: 600px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

#venue-content {
  height: 600px;
  padding: 50px;
  background-color: rgba(255, 255, 255, .9);
  text-shadow: none;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
}

.hotel-map {
  float: left;
}

.hotel-info {
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5em;
}

.hotel-blurb {
  text-align: left;
  max-width: 35%;
  float: right;
}

.contact-blurb, .registry-blurb {
  margin-top: 50px;
}

.contact-blurb {
    max-width: 90%;
}

.venue-blurb {
  max-width: 55%;
  float: right;
  text-align: left;
  padding-top: 0;
  margin-top: -15px;
}

.venue-info {
  float: left;
  position: absolute;
}

.venue-map {
  float: left;
  position: absolute;
  top: 400px;
}

#indiaHouse {
  float: left;
  width: 300px;
  margin-bottom: 25px;
}

#close-hotel-modal,
#close-contact-modal,
#close-rsvp-modal,
#close-venue-modal,
#close-registry-modal {
  position: absolute;
  top: 5px;
  left: 97.5%;
  z-index: 3;
  font-size: 1.5em;
  text-shadow: none;
  border-radius: 26%;
  text-align: center;
  color: black;
}

#close-modal:hover {
  cursor: pointer;
}

.modal-content {
  position: relative;
  margin: 0 30%;
  background-color: white;
  top: 10%;
  width: 40%;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: white;
  border: 10px solid white;
  z-index: 1;
}

/* Begin Media Queries */
@media screen and (max-width: 1150px) {
  #us {
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
    header {
      background-size: 580px 387.086957px;
    }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 900;
    background-color: rgba(224, 224, 225, 0.6);
    box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
  }

  .hamburger {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    z-index: 1000;
  }

  .t-line,
  .m-line,
  .b-line {
    width: 80%;
    height: 5px;
    background-color: black;
    border-radius: 15%;
  }

  .m-line,
  .b-line {
    margin-top: 5px;
  }

  .top-x {
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .bottom-x {
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .mobile-nav-expand {
    display: none;
    height: 300px;
    width: 100%;
    z-index: 800;
    background-color: rgba(224, 224, 225, 1);
    box-shadow: 2px 14px 39px -9px rgba(59,57,59,0.6);
  }

  #mobile-nav-list {
    position: absolute;
    top: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  li {
    font-family: Typewriter;
    font-size: 1.5em;
    margin: 15px auto;
    display: flex;
    justify-content: center;
  }

  #coming-soon {
    margin-right: 5%;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 7em;
  }

  h3, h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1em;
  }

#hotel-modal, #contact-modal, #rsvp-modal, #venue-modal, #registry-modal {
        width: 90%;
        height: 100%;
        top: 20px;
        left: 5%;
        text-align: center;
        z-index: 9999;
        overflow: scroll;
    }

#close-rsvp-modal, #close-venue-modal, #close-hotel-modal, #close-contact-modal, #close-registry-modal {
        left: 93.5%;
        font-family: Arial;
    }

#venue-content {
    height: auto;
    padding: 10px;
}

#indiaHouse {
    float: none;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.venue-info {
    float: none;
    position: relative;
}

.venue-map {
    float: none;
    width: 100%;
    position: relative;
    top: 0;
}

iframe {
    border: 0;
    width: 100%;
    padding: 20px 0;
}
.venue-blurb {
    max-width: 100%;
    float: none;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

#hotel-content {
    padding: 10px;
    height: auto;
}

.hotel-blurb {
    text-align: center;
    float: none;
    max-width: 100%;
}

.hotel-info, .hotel-map {
    float: none;
}

#rsvp-content, #registry-content {
    padding: 10px;
    height: 90%;
}
}

@media screen and (max-width: 768px) {
    body {
      margin: 0;
      background-image: none;
      background-color: #E7E7E9;
    }

    #rsvp-content {
        overflow: scroll;
    }
    #coming-soon {
      float: none;
      margin-left: 5%;
    }

    #us {
        background-image: none;
    }
    #us::after {
        content: "";
          background: url(../images/tanda.jpg);
          opacity: 0.5;
          top: 0;
          left: -10%;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
      }

  h1 {
    font-size: 4em;
  }

  h3, h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
  }

}
